.test {
	display: flex;
	flex-wrap: wrap;
}
body {
    font-family: Arial, sans-serif;
    background-color: #565654;
    color: blue;
}
.title {
    text-align: center;
    margin-top: 35px;
    
}

.verse1, .verse2, .verse3 {
    margin: 10px auto;
    text-align: center;
}